Repository numpy/numpy-user-dtypes: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-compilation-database, include-what-you-use

.pre-commit-config.yaml:

exclude: (casts\.(c|h)|umath\.(c|h))
repos:
  - repo: local
    hooks:
      - id: generate-compilation-database
        name: Generate compilation database
        files: (^meson\.build$|\.(c|h)$)
        language: system
        entry: |
          bash -c 'mkdir -p build; pip install build meson-python patchelf wheel; python -m build --wheel --no-isolation -Cbuilddir=build';
        fail_fast: true
  - repo: https://github.com/pocc/pre-commit-hooks
    rev: v1.3.5
    hooks:
      - id: clang-tidy
        args: [-p=build]
      - id: clang-format
        args: ['--style={BasedOnStyle: Google, ColumnLimit: "100", IndentWidth: "4"}', -i, ]
      # - id: uncrustify
      #   args: [--replace, --no-backup]
      # - id: oclint
      # - id: cppcheck
  - repo: local
    hooks:
      - id: include-what-you-use
        name: Include What You Use
        types: ['c', 'c++']
        language: system
        entry: iwyu-tool -p build
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-ast
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          [
            flake8-docstrings,
            flake8-mutable,
            flake8-debugger,
            flake8-pytest-style,
            flake8-simplify,
            pep8-naming,
            darglint,
          ]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.0
    hooks:
      - id: prettier
        types:
          [
            markdown,
            yaml,
          ]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v0.971"
    hooks:
      - id: mypy
  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
        name: isort (python)
      - id: isort
        name: isort (cython)
        types: [cython]
      - id: isort
        name: isort (pyi)
        types: [pyi]

install unyt
  .github/workflows/ci.yml
Due: none

install nightly wheel to save some time
  .github/workflows/ci.yml
Due: none

need numpy main branch it seems
  .github/workflows/ci.yml
Due: none

Update the readme with install instructions for quaddtype
  quaddtype/README.md
Due: none

Include umath.c; pre-commit broken by move to monorepo
  quaddtype/.pre-commit-config.yaml
  quaddtype/meson.build
  quaddtype/quaddtype/__init__.py
  quaddtype/quaddtype/quadscalar.py
  quaddtype/quaddtype/src/quaddtype_main.c
  quaddtype/quaddtype/src/umath.c
  quaddtype/quaddtype/src/umath.h
Due: generate-compilation-database

Move pre-commit config to top level; prep quaddtype umath
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  README.md
  quaddtype/quaddtype/src/umath.c
Due: none

Configure pre-commit hooks to use compilation databases in <pkg>/build
  .clang-format
  .pre-commit-config.yaml
  quaddtype/quaddtype/src/dtype.c
  quaddtype/quaddtype/src/dtype.h
  quaddtype/quaddtype/src/quaddtype_main.c
Due: generate-compilation-database, include-what-you-use

WIP: Add Quad to Float128 casts
  .pre-commit-config.yaml
  quaddtype/quaddtype/src/casts.c
  quaddtype/quaddtype/src/casts.h
  quaddtype/quaddtype/src/dtype.c
Due: generate-compilation-database

Turn on require_serial for compilation databases; remove exclude rule
  .pre-commit-config.yaml
Due: none

rearrange includes to appease clang-tidy
  metadatadtype/metadatadtype/src/dtype.c
  metadatadtype/metadatadtype/src/dtype.h
  unytdtype/unytdtype/src/dtype.c
  unytdtype/unytdtype/src/dtype.h
Due: generate-compilation-database, include-what-you-use

remove old pre-commit config from metadatadtype
  metadatadtype/.pre-commit-config.yaml
Due: none

fix gitlab permissions issue in pre-commit hook
  .pre-commit-config.yaml
Due: none

don't sort includes in clang-format since include order matters
  .clang-format
  metadatadtype/metadatadtype/src/dtype.c
Due: generate-compilation-database

formatting edits from pre-commit config
  metadatadtype/.gitignore
  metadatadtype/metadatadtype/__init__.py
  metadatadtype/metadatadtype/src/dtype.c
  metadatadtype/tests/test_metadatadtype.py
  unytdtype/.gitignore
  unytdtype/tests/test_unytdtype.py
  unytdtype/unytdtype/__init__.py
  unytdtype/unytdtype/scalar.py
  unytdtype/unytdtype/src/dtype.c
Due: generate-compilation-database

appease clang-tidy and clang-format
  metadatadtype/metadatadtype/src/casts.c
  metadatadtype/metadatadtype/src/casts.h
  metadatadtype/metadatadtype/src/dtype.c
  metadatadtype/metadatadtype/src/dtype.h
  quaddtype/quaddtype/src/casts.c
  quaddtype/quaddtype/src/umath.c
  quaddtype/quaddtype/src/umath.h
  unytdtype/unytdtype/src/casts.c
  unytdtype/unytdtype/src/casts.h
  unytdtype/unytdtype/src/dtype.c
Due: generate-compilation-database, include-what-you-use

appease flake8
  metadatadtype/metadatadtype/__init__.py
  quaddtype/quaddtype/__init__.py
  unytdtype/tests/test_unytdtype.py
  unytdtype/unytdtype/__init__.py
Due: none

fix typo in iwyu_tool name
  .pre-commit-config.yaml
Due: none

don't include flake8-docstrings
  .pre-commit-config.yaml
Due: none

don't include mypy precommit hook
  .pre-commit-config.yaml
Due: none

fix metadatadtype tests
  metadatadtype/metadatadtype/__init__.py
Due: none

fix unytdtype tests
  unytdtype/unytdtype/__init__.py
Due: none

attempt to add ccache build caching
  .github/workflows/ci.yml
Due: none

fix github actions config
  .github/workflows/ci.yml
Due: none

try to use ccache by setting CC
  .github/workflows/ci.yml
Due: none

fix error, add verbose pip output
  .github/workflows/ci.yml
Due: none

fix quoting
  .github/workflows/ci.yml
Due: none

use CXX too
  .github/workflows/ci.yml
Due: none

typo fix
  .github/workflows/ci.yml
Due: none

turn off ccache directory hashing
  .github/workflows/ci.yml
Due: none

attempt to add ccache build caching (#4)
  .github/workflows/ci.yml
Due: none

use the numpy nightly wheel in CI
  .github/workflows/ci.yml
Due: none

Remove iwyu pre-commit hook 😔
  .pre-commit-config.yaml
Due: none

install numpy first
  .github/workflows/ci.yml
Due: none

make it possible to create a UnytDType from a unyt.Unit
  unytdtype/unytdtype/src/casts.c
Due: none

expose UnytDType.unit to Python
  unytdtype/unytdtype/src/dtype.c
  unytdtype/unytdtype/src/dtype.h
Due: generate-compilation-database, include-what-you-use

add a test for creating UnytDTYpe from Unit
  unytdtype/tests/test_unytdtype.py
Due: none

refactor so UnytScalar defers to a dtype for the unit
  unytdtype/tests/test_unytdtype.py
  unytdtype/unytdtype/scalar.py
  unytdtype/unytdtype/src/dtype.c
Due: generate-compilation-database
