Repository numpy/numpy-user-dtypes: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-compilation-database, include-what-you-use

generate-compilation-database:
  name: Generate compilation database
  language: system
  entry: 'bash -c ''mkdir -p build; pip install build meson-python patchelf wheel; python -m build --wheel --no-isolation -Cbuilddir=build'';
  
    '
  fail_fast: true

include-what-you-use:
  name: Include What You Use
  language: system
  entry: iwyu-tool -p build

reorder imports to avoid circular dependency
  metadatadtype/__init__.py
Due: none

add ensure_canonical slot
  metadatadtype/src/dtype.c
Due: generate-compilation-database

expose metadata attribute to Python
  metadatadtype/scalar.py
  metadatadtype/src/dtype.c
Due: generate-compilation-database

allow setitem to accept types convertible to float
  metadatadtype/src/dtype.c
Due: generate-compilation-database

add __pycache__ to gitignore
  .gitignore
Due: none

add casting to float64
  metadatadtype/src/casts.c
  metadatadtype/src/casts.h
  metadatadtype/src/dtype.c
Due: generate-compilation-database

add unit tests
  tests/conftest.py
  tests/test_metadatadtype.py
Due: none

initial commit
  README.md
  mpfdtype/__init__.py
  mpfdtype/src/casts.c
  mpfdtype/src/casts.h
  mpfdtype/src/dtype.c
  mpfdtype/src/dtype.h
  mpfdtype/src/mpfdtype_main.c
  mpfdtype/src/scalar.c
  mpfdtype/src/scalar.h
  mpfdtype/src/umath.c
  mpfdtype/src/umath.h
  setup.py
Due: generate-compilation-database, include-what-you-use

play around with cpp?
  mpfdtype/src/casts.cpp
  mpfdtype/src/casts.h
  mpfdtype/src/dtype.c
  mpfdtype/src/dtype.h
  mpfdtype/src/scalar.c
  mpfdtype/src/scalar.h
  mpfdtype/src/umath.h
  setup.py
Due: generate-compilation-database, include-what-you-use

fixups and add unary (and more binary) ops
  mpfdtype/src/casts.cpp
  mpfdtype/src/dtype.c
  mpfdtype/src/dtype.h
  mpfdtype/src/scalar.h
  mpfdtype/src/umath.c
  mpfdtype/src/umath.cpp
  setup.py
Due: generate-compilation-database, include-what-you-use

Define almost all numeric casts for MPF
  mpfdtype/src/casts.cpp
  mpfdtype/src/casts.h
  mpfdtype/src/dtype.c
  mpfdtype/src/scalar.c
  mpfdtype/src/umath.cpp
  setup.py
Due: generate-compilation-database

fix op striding
  mpfdtype/src/umath.cpp
Due: none

Fixup the ufuncs
  mpfdtype/src/umath.cpp
Due: none

Fix conversion again
  mpfdtype/src/scalar.c
Due: generate-compilation-database

Use NumPy default promoter, the reason NumPy doesn't do it...
  mpfdtype/src/umath.cpp
Due: none

Add comparisons
  mpfdtype/src/umath.cpp
Due: none

Add some terrible hacks and maybe some small stuff also add a floor/ceil/rint
  mpfdtype/src/mpfdtype_main.c
  mpfdtype/src/terrible_hacks.c
  mpfdtype/src/terrible_hacks.h
  mpfdtype/src/umath.cpp
  setup.py
Due: generate-compilation-database, include-what-you-use

Fixup scalars and add missing file, heh
  mpfdtype/src/numbers.cpp
  mpfdtype/src/numbers.h
  mpfdtype/src/ops.hpp
  mpfdtype/src/scalar.c
  setup.py
Due: generate-compilation-database, include-what-you-use

fixup operand ooops
  mpfdtype/src/numbers.cpp
Due: none

Add power, make conversion strict and richcmp
  mpfdtype/src/numbers.cpp
  mpfdtype/src/numbers.h
  mpfdtype/src/scalar.c
Due: generate-compilation-database, include-what-you-use

Add string output and hack array printing to be not as awful for now
  mpfdtype/__init__.py
  mpfdtype/src/scalar.c
Due: generate-compilation-database

its a var object...
  mpfdtype/src/scalar.h
Due: generate-compilation-database, include-what-you-use

Compactify storage
  mpfdtype/src/casts.cpp
  mpfdtype/src/dtype.c
  mpfdtype/src/dtype.h
  mpfdtype/src/scalar.h
  mpfdtype/src/terrible_hacks.c
  mpfdtype/src/umath.cpp
Due: generate-compilation-database, include-what-you-use

add square
  mpfdtype/src/ops.hpp
  mpfdtype/src/umath.cpp
Due: none

undo storage scheme: It bites with output being the same as input
  mpfdtype/src/casts.cpp
  mpfdtype/src/dtype.c
  mpfdtype/src/dtype.h
  mpfdtype/src/umath.cpp
Due: generate-compilation-database, include-what-you-use

imported metadatadtype
  metadatadtype/.clang-format
  metadatadtype/.flake8
  metadatadtype/.gitignore
  metadatadtype/.pre-commit-config.yaml
  metadatadtype/LICENSE
  metadatadtype/README.md
  metadatadtype/meson.build
  metadatadtype/metadatadtype/__init__.py
  metadatadtype/metadatadtype/scalar.py
  metadatadtype/metadatadtype/src/casts.c
  metadatadtype/metadatadtype/src/casts.h
  metadatadtype/metadatadtype/src/dtype.c
  metadatadtype/metadatadtype/src/dtype.h
  metadatadtype/metadatadtype/src/metadatadtype_main.c
  metadatadtype/metadatadtype/src/umath.c
  metadatadtype/metadatadtype/src/umath.h
  metadatadtype/pyproject.toml
  metadatadtype/tests/conftest.py
  metadatadtype/tests/test_metadatadtype.py
Due: generate-compilation-database, include-what-you-use

move unytdtype into subdirectory
  unytdtype/.clang-format
  unytdtype/.gitignore
  unytdtype/LICENSE
  unytdtype/README.md
  unytdtype/meson.build
  unytdtype/pyproject.toml
  unytdtype/tests/conftest.py
  unytdtype/tests/test_unytdtype.py
  unytdtype/unytdtype/__init__.py
  unytdtype/unytdtype/scalar.py
  unytdtype/unytdtype/src/casts.c
  unytdtype/unytdtype/src/casts.h
  unytdtype/unytdtype/src/dtype.c
  unytdtype/unytdtype/src/dtype.h
  unytdtype/unytdtype/src/umath.c
  unytdtype/unytdtype/src/umath.h
  unytdtype/unytdtype/src/unytdtype_main.c
Due: generate-compilation-database, include-what-you-use

add root-level readme
  README.md
Due: none

add root-level LICENSE file
  LICENSE
  metadatadtype/LICENSE
  unytdtype/LICENSE
Due: none

fix readme formatting
  README.md
Due: none

peyton said it was OK to drop the MIT license here
  quaddtype/LICENSE
Due: none

don't depend on wheels from nathan's local dev env
  metadatadtype/pyproject.toml
  unytdtype/pyproject.toml
Due: none

add a workflow for metadatadtype CI
  .github/workflows/metadatadtype-ci.yml
Due: none

attempt to fix github actions config
  .github/workflows/metadatadtype-ci.yml
Due: none

fix python version specification
  .github/workflows/metadatadtype-ci.yml
Due: none

install numpy from git
  .github/workflows/metadatadtype-ci.yml
Due: none

explicitly list build deps in github actions workflow
  .github/workflows/metadatadtype-ci.yml
Due: none

missing ninja
  .github/workflows/metadatadtype-ci.yml
Due: none

add CI for unytdtype
  .github/workflows/ci.yml
Due: none

Path conditions:
  generate-compilation-database: any of: (^meson\.build$|\.(c|h)$), but not: (casts\.(c|h)|umath\.(c|h))
  include-what-you-use: any of: \.(c|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((casts\.(c|h)|umath\.(c|h)))
